<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/master/common :: head(~{::title})}">
    <title>ZenFlow Master - Dashboard</title>
</head>
<body>
    <!-- Master Navbar -->
    <div th:replace="~{fragments/master/navbar :: navbar}"></div>

    <!-- Dashboard Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Dashboard Master</h5>
                    </div>
                    <div class="card-body">
                        <h2>Benvenuto nella Dashboard Master</h2>
                        <p>Da qui puoi gestire i tenant dell'applicazione ZenFlow.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a th:href="@{/master/tenants}" class="btn btn-primary">
                                <i class="bi bi-building"></i> Gestione Tenant
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <th:block th:replace="~{fragments/master/common :: scripts}"></th:block>
</body>
</html>
