<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, extraCSS)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Default Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}">
    <!-- ZenFlow theme -->
    <link rel="stylesheet" th:href="@{/css/zenflow.css}">
    <!-- ZenFlow animated background -->
    <link rel="stylesheet" th:href="@{/css/flowAnimation.css}">
    <!-- Slot opzionale per altri CSS specifici di pagina -->
    <th:block th:replace="${extraCSS} ?: ~{}"></th:block>
</head>

<body>
    <!-- Script fragment to be included at the end of body -->
    <th:block th:fragment="scripts(extraScripts)">
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
        <!-- ZenFlow animated background -->
        <script th:src="@{/js/flowAnimation.js}"></script>
        <!-- ZenFlow theme initialization -->
        <script th:src="@{/js/theme.js}"></script>
        <!-- Additional scripts can be added here -->
        <th:block th:replace="${extraScripts} ?: ~{}"></th:block>
    </th:block>
</body>
</html>
