<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">ZenFlow</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Contenuto della Dashboard -->
    <div class="container mt-4">
        <h1 th:text="#{dashboard.welcome}">Welcome to the Dashboard</h1>
        <p th:text="#{dashboard.content}">Insert your content here...</p>
    </div>

    <!-- Script -->
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
