<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head(~{::title}, ~{})}">
    <title th:text="#{login.title}">Login</title>
</head>
<body class="bg-light">
    <div class="container">
        <!-- Lang Switcher -->
        <div class="row justify-content-end mt-3">
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" 
                            data-bs-toggle="dropdown" aria-expanded="false" th:text="#{lang.change}">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" th:href="@{/change-lang(lang='it',referer='/login')}" th:text="#{lang.it}"></a></li>
                        <li><a class="dropdown-item" th:href="@{/change-lang(lang='en',referer='/login')}" th:text="#{lang.en}"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow shadow-lg">
                    <div class="card-header bg-dark text-white text-center">
                        <h4 th:text="#{login.header}">Access</h4>
                    </div>
                    <div class="card-body">
                        <div th:if="${param.error}" class="alert alert-danger" th:text="#{login.error}">
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.logout.success}">
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label" th:text="#{login.username}"></label>
                                <input type="text" class="form-control" id="username" name="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" th:text="#{login.password}"></label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3 text-end">
                                <a th:href="@{/password/forgot}" th:text="#{login.forgot.password}">Forgot Password?</a>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark" th:text="#{login.button}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/common :: scripts(~{})}"></th:block>
</body>
</html>
