<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Master Navbar -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ZenFlow Master</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#masterNavbar"
                    aria-controls="masterNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="masterNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.requestURI == '/master/dashboard' ? 'active' : ''}" 
                           th:href="@{/master/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.startsWith('/master/tenants') ? 'active' : ''}" 
                           th:href="@{/master/tenants}">Gestione Tenant</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form th:action="@{/master/logout}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-outline-light">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>